<!-- Lifecycle -->
<!-- <button (click)="toggleShow()">
  {{ show ? "Hide" : "Show" }} lifecycle Component
  </button> -->
<!-- app-lifecycle is a custom Angular component selector -->
<!-- *ngIf is a "Structural Directive." (In/Ex)cludes the component based off 'show' -->
<!-- [show]="show" passes 'show' to <app-lifecycle>, the lifecycle component.  -->
<!-- <app-lifecycle *ngIf="show" [show]="show"></app-lifecycle> -->

<!-- Change Detection -->
<!-- <button (click)="addName()">Add Name From Parent</button>
<app-change-detection [names]="names"></app-change-detection> -->

<!-- Structural Directive -->
<!-- <app-structural></app-structural> -->

<!-- Attribute Directive -->
<!-- <app-attribute></app-attribute> -->

<!-- Custom Directive -->
<!-- <app-custom></app-custom> -->

<!-- ViewChild -->
<!-- <app-parent></app-parent> -->

<!-- ng-template -->
<app-ng-template></app-ng-template>

<!-- ng-container -->
<!-- <app-ng-container></app-ng-container> -->

<!-- ng-content -->
<!-- <app-ng-content><h1>Content</h1></app-ng-content> -->

<!-- Event and Property Binding -->
<!-- <app-binding></app-binding> -->

<!-- Two-Way Binding -->
<!-- <h1>Combined Syntax</h1>
<app-two-way-binding [(number)]="number"></app-two-way-binding> -->

<!-- Separate Event and Property Binding -->
<!-- <h1>Separate Syntax</h1>
<app-two-way-binding
  [number]="number"
  (numberChange)="changeNumber($event)"
></app-two-way-binding> -->
