<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="btn-container">
      <!-- Connects to the "/login" folders' entrypoint (index.html) -->
      <button id="login-btn"><a href="/login">Login</a></button>

      <button id="signup-btn"><a href="/signup">Signnnnup</a></button>
      <button id="logout-btn">Logout</button>
    </div>
    <h1 id="greeting"></h1>
    <a href="/todo">Todo Page</a>
    <script src="script.js"></script>
  </body>
</html>
