* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

section > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
